{
  "env": {
    "browser": true,
    "es2021": true
  },
  "extends": [
    "plugin:import/typescript",
    "plugin:prettier/recommended",
    "plugin:react/recommended",
    "plugin:react-hooks/recommended",
    "airbnb",
    "prettier",
    "react-app"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaFeatures": { "jsx": true },
    "ecmaVersion": 12,
    "sourceType": "module"
  },
  "plugins": ["@typescript-eslint", "import", "prettier", "react", "react-hooks"],
  "rules": {
    "arrow-body-style": "off",
    "consistent-return": "off",
    "import/extensions": "off",
    "import/no-unresolved": "off",
    "no-console": "off",
    "no-shadow": "off",
    "prettier/prettier": ["error", { "endOfLine": "auto" }],
    "react/jsx-filename-extension": "off",
    "react/jsx-props-no-spreading": "off",
    "react/no-array-index-key": "off",
    "react/react-in-jsx-scope": "off",
    "react/require-default-props": "off"
  }
}
